*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f4f4;
}

header{
    background:#ff5722;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    margin-top:100px;
}

.hero h2{
    font-size:40px;
}

.hero p{
    margin:20px;
}

button{
    background:#ff5722;
    color:white;
    border:none;
    padding:15px 30px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#e64a19;
}

footer{
    text-align:center;
    margin-top:150px;
}